<ul class="accordion">
    <li>
        <form name="NewCondition" class="patient-form">
            <div class="accordion__title  accordion__title_active">
                <span class="accordion__icon ti-support"></span>Добавить состояние
            </div>
            <div  class="accordion__content">
                <div class="plain-table__table-wrapper clearfix">
                    <table class="plain-table__table">
                        <tbody class='plain-table__value plain-table__value_non-bordered'>
                        <tr>
                            <td class="patient-form__label">Состоние</td>
                            <td class="patient-form__value">
                                <input ng-model="condition.state_type" class="search-table__input" name="work_place" value="" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td class="patient-form__label">результат осмотра</td>
                            <td class="patient-form__value">
                                <input ng-model="condition.description_extended" class="search-table__input" name="work_place" value="" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td class="patient-form__label">сабмить</td>
                            <td class="patient-form__value">
                                <input class="patient-form__submit" ng-click="save_cond(condition, NewCondition)" type="submit" value="Сохранить">
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </form>
    </li>
    <li>
        <div class="accordion__title  accordion__title_active">
            <span class="accordion__icon ti-support"></span>Стационары
        </div>
        <div  class="accordion__content">
            <div class="plain-table__table-wrapper clearfix">
                <table class="plain-table__table">
                    <thead class="plain-table__heading">
                        <tr>
                            <th>Отделение</th>
                            <th>Дата заселение</th>
                            <th>Дата выписки</th>
                            <th>Направлен в</th>
                        </tr>
                    </thead>
                    <tbody class='plain-table__value'>
                        <!--<tr ng-repeat="analysis in analizes">
                            <td>{{analysis.analysis_name}}</td>
                            <td>{{analysis.analysis_description}}</td>
                            <td>{{analysis.appointment_date}}</td>
                            <td>{{analysis.doctor_fio}}</td>
                            <td>{{analysis.ready_date}}</td>
                            <td>{{analysis.result_description}}</td>
                            <td>{{analysis.paths_to_files}}</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion__title  accordion__title_active">
            <span class="accordion__icon ti-support"></span>Операции
        </div>
        <div  class="accordion__content">
            <div class="plain-table__table-wrapper clearfix">
                <table class="plain-table__table">
                    <thead class="plain-table__heading">
                        <tr>
                            <th>Дата проведения</th>
                            <th>Операция</th>
                            <th>Предоперационный эпикриз</th>
                            <th>Результат</th>
                            <th>Хирург</th>
                        </tr>
                    </thead>
                    <tbody class='plain-table__value'>
                        <tr ng-repeat="operation in operations">
                            <td>{{operation.operation_date}}</td>
                            <td>{{operation.operation_name}}</td>
                            <td>{{operation.preliminary_epicrisis}}</td>
                            <td>{{operation.result}}</td>
                            <td>{{operation.doctor_fio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion__title  accordion__title_active">
            <span class="accordion__icon ti-support"></span>Процедуры
        </div>
        <div  class="accordion__content">
            <div class="plain-table__table-wrapper clearfix">
                <table class="plain-table__table">
                    <thead class="plain-table__heading">
                        <tr>
                            <th>Дата процедуры</th>
                            <th>Название</th>
                            <th>Мед работник</th>
                        </tr>
                    </thead>
                    <tbody class='plain-table__value'>
                        <tr ng-repeat="dressing in dressings">
                            <td>{{dressing.dressing_date}}</td>
                            <td>{{dressing.dressing_name}}</td>
                            <td>{{dressing.doctor_fio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion__title  accordion__title_active">
            <span class="accordion__icon ti-support"></span>Изменения состояния
        </div>
        <div  class="accordion__content">
            <div class="plain-table__table-wrapper clearfix">
                <table class="plain-table__table">
                    <thead class="plain-table__heading">
                        <tr>
                            <th>Дата осмотра</th>
                            <th>Состояние</th>
                            <th>Результат осмотра</th>
                            <th>Врач</th>
                        </tr>
                    </thead>
                    <tbody class='plain-table__value'>
                        <tr ng-repeat="inspection in inspections">
                            <td>{{inspection.inspection_date}}</td>
                            <td>{{inspection.state_type}}</td>
                            <td>{{inspection.description_extended}}</td>
                            <td>{{inspection.doctor_fio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </li>
</ul>

