<div class=" plain-table " ng-controller='PatientFullController'>
    <div class="plain-table__caption">
        <span class="plain-table__icon ti-marker"></span>Основные данные
    </div>
    <table class="plain-table__table">
        <tbody class='plain-table__value'>
        <tr>
            <td>ФИО</td>
            <td></td>
        </tr>
        <tr>
            <td>Дата рождения</td>
            <td></td>
        </tr>
        <tr>
            <td>Пол</td>
            <td></td>
        </tr>
        <tr>
            <td>№ Палаты</td>
            <td></td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td></td>
        </tr>
        <tr>
            <td>Дата обращения</td>
            <td></td>
        </tr>
        <tr>
            <td>№ Страховки</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>