<div class=" plain-table ">
    <div class="plain-table__caption">
        <span class="plain-table__icon ti-marker"></span>Пациенты в отделении
    </div>
    <table class="plain-table__table">
        <thead class="plain-table__heading">
        <tr>
            <th>Дата назначения</th>
            <th>Описание</th>
            <th>Врач</th>
        </tr>
        </thead>
        <tbody class='plain-table__value'>
        <tr ng-repeat="prescription in prescriptions">
            <td>{{prescription.date}}</td>
            <td>{{prescription.description}}</td>
            <td>{{prescription.doctor_fio}}</td>
        </tr>
        </tbody>
    </table>
</div>