<div class=" plain-table ">
    <div class="plain-table__caption">
        <span class="plain-table__icon ti-marker"></span>Пациенты в отделении
    </div>
    <table class="plain-table__table">
        <thead class="plain-table__heading">
        <tr>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Пол</th>
            <th>№ Палаты</th>
            <th>Телефон</th>
            <th>Дата обращения</th>
            <th>№ Страховки</th>
        </tr>
        </thead>
        <tbody class='plain-table__value'>

        </tbody>
    </table>
</div>