<div class="clearfix tabs-button">
    <a class=" button button_right" data-toggle="modal" data-target="#addCondition"><span class="ti-plus add-block__icon"></span>Обход</a>
    <a class=" button button_right" data-toggle="modal" data-target="#addOperation"><span class="ti-plus add-block__icon"></span>Операция</a>
    <a class=" button button_right" data-toggle="modal" data-target="#addProcedure"><span class="ti-plus add-block__icon"></span>Процедура</a>
</div>
<ul class="accordion">
    <li>
        <div class="accordion__title  accordion__title_active">
            <span class="accordion__icon ti-support"></span>Стационары
        </div>
        <div  class="accordion__content">
            <div class="plain-table__table-wrapper clearfix">
                <table class="plain-table__table">
                    <thead class="plain-table__heading">
                    <tr>
                        <th>Отделение</th>
                        <th>Дата заселение</th>
                        <th>Дата выписки</th>
                        <th>Направлен в</th>
                    </tr>
                    </thead>
                    <tbody class='plain-table__value'>
                    <!--<tr ng-repeat="analysis in analizes">
                        <td>{{analysis.analysis_name}}</td>
                        <td>{{analysis.analysis_description}}</td>
                        <td>{{analysis.appointment_date}}</td>
                        <td>{{analysis.doctor_fio}}</td>
                        <td>{{analysis.ready_date}}</td>
                        <td>{{analysis.result_description}}</td>
                        <td>{{analysis.paths_to_files}}</td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion__title  accordion__title_active">
            <span class="accordion__icon ti-support"></span>Операции
        </div>
        <div  class="accordion__content">
            <div class="plain-table__table-wrapper clearfix">
                <table class="plain-table__table">
                    <thead class="plain-table__heading">
                    <tr>
                        <th>Дата проведения</th>
                        <th>Операция</th>
                        <th>Предоперационный эпикриз</th>
                        <th>Результат</th>
                        <th>Хирург</th>
                    </tr>
                    </thead>
                    <tbody class='plain-table__value'>
                    <tr ng-repeat="operation in treatmentDynamic.operations">
                        <td>{{operation.operation_date}}</td>
                        <td>{{operation.operation_name}}</td>
                        <td>{{operation.preliminary_epicrisis}}</td>
                        <td>{{operation.result}}</td>
                        <td>{{operation.doctor_fio_who_performed}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion__title  accordion__title_active">
            <span class="accordion__icon ti-support"></span>Процедуры
        </div>
        <div  class="accordion__content">
            <div class="plain-table__table-wrapper clearfix">
                <table class="plain-table__table">
                    <thead class="plain-table__heading">
                    <tr>
                        <th>Дата процедуры</th>
                        <th>Название</th>
                        <th>Назначен</th>
                        <th>Выполнен</th>
                        <th>Файлы</th>
                    </tr>
                    </thead>
                    <tbody class='plain-table__value'>
                    <tr ng-repeat="dressing in treatmentDynamic.procedures">
                        <td>{{dressing.ready_date}}</td>
                        <td>{{dressing.procedure_name}}</td>
                        <td>{{dressing.doctor_fio_who_appointed}}</td>
                        <td>{{dressing.doctor_fio_who_performed}}</td>
                        <td ng-click="treatmentDynamic.setShownProcedure($index+1)">
                            <a data-toggle="modal" data-target="#ProceduresFiles">
                                <span class="ti-save-alt file-icon" ng-show='dressing.paths_to_files'></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </li>
    <li>
        <div class="accordion__title  accordion__title_active">
            <span class="accordion__icon ti-support"></span>Изменения состояния
        </div>
        <div  class="accordion__content">
            <div class="plain-table__table-wrapper clearfix">
                <table class="plain-table__table">
                    <thead class="plain-table__heading">
                    <tr>
                        <th>Дата осмотра</th>
                        <th>Состояние</th>
                        <th>Результат осмотра</th>
                        <th>Врач</th>
                    </tr>
                    </thead>
                    <tbody class='plain-table__value' id="inspection-table">
                    <tr ng-repeat="inspection in treatmentDynamic.inspections">
                        <td>{{inspection.inspection_date}}</td>
                        <td>{{inspection.state_type}}</td>
                        <td>{{inspection.description_extended}}</td>
                        <td>{{inspection.doctor_fio}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </li>
</ul>

<!--modalki-->
<div class="modal fade" id="ProceduresFiles">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Приложенные файлы</h4>
            </div>
            <div class="modal-body">
                <form name="NewAnalise" class="patient-form">
                    <div  class="accordion__content">
                        <div class="plain-table__table-wrapper clearfix">
                            <div class="clearfix">
                                <div class="file-table__cell">
                                    <a download href="/storage/{{treatmentDynamic.shownProcedure.paths_to_files}}">
                                        <img class="file-table__img" src="/storage/{{treatmentDynamic.shownProcedure.paths_to_files}}" alt="">
                                    </a>
                                </div>
                            </div>

                            <a class="add-block__button button" href="" ng-click="treatmentAnalyzes.new_analysis()" data-dismiss="modal">
                                <span class="ti-save-alt patient__icon_white"></span>
                                <input class="patient-form__submit" type="submit" value="Закрыть">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addCondition">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Добавить результат обхода </h4>
            </div>
            <div class="modal-body">
                <form name="NewCondition" class="patient-form">
                    <div  class="accordion__content">
                        <div class="plain-table__table-wrapper clearfix">
                            <table class="plain-table__table">
                                <tbody class='plain-table__value plain-table__value_non-bordered'>
                                <tr>
                                    <td class="patient-form__label">Состояние</td>
                                    <td class="patient-form__value">
                                        <input ng-model="treatmentDynamic.condition.state_type" class="search-table__input" name="work_place" value="" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="patient-form__label">Результат осмотра</td>
                                    <td class="patient-form__value">
                                        <input ng-model="treatmentDynamic.condition.description_extended" class="search-table__input" name="work_place" value="" type="text">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a class="add-block__button button" href="" ng-click="treatmentDynamic.newCondition()" data-dismiss="modal">
                                <span class="ti-save-alt patient__icon_white"></span>
                                <input class="patient-form__submit " type="submit" value="Сохранить">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addOperation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Добавить направление на операцию </h4>
            </div>
            <div class="modal-body">
                <form name="NewOperation" class="patient-form">
                    <div  class="accordion__content">
                        <div class="plain-table__table-wrapper clearfix">
                            <table class="plain-table__table">
                                <tbody class='plain-table__value plain-table__value_non-bordered'>
                                <tr>
                                    <td class="patient-form__label">Операция</td>
                                    <td class="patient-form__value">
                                        <input ng-model="treatmentDynamic.operation.operation_name" class="search-table__input" name="work_place" value="" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="patient-form__label">Эпикриз</td>
                                    <td class="patient-form__value">
                                        <input ng-model="treatmentDynamic.operation.preliminary_epicrisis" class="search-table__input" name="work_place" value="" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="patient-form__label">Описание</td>
                                    <td class="patient-form__value">
                                        <input ng-model="treatmentDynamic.operation.operation_description" class="search-table__input" name="work_place" value="" type="text">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a class="add-block__button button" href="" ng-click="treatmentDynamic.newOperation()" data-dismiss="modal">
                                <span class="ti-save-alt patient__icon_white"></span>
                                <input class="patient-form__submit" type="submit" value="Сохранить">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addProcedure">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Добавить направление на процедуру</h4>
            </div>
            <div class="modal-body">
                <form name="NewProcedure" class="patient-form">
                    <div  class="accordion__content">
                        <div class="plain-table__table-wrapper clearfix">
                            <table class="plain-table__table">
                                <tbody class='plain-table__value plain-table__value_non-bordered'>
                                <tr>
                                    <td class="patient-form__label">Название</td>
                                    <td class="patient-form__value">
                                        <input ng-model="treatmentDynamic.procedure.procedure_name" class="search-table__input" name="work_place" value="" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="patient-form__label">Доп. информация</td>
                                    <td class="patient-form__value">
                                        <input ng-model="treatmentDynamic.procedure.procedure_description" class="search-table__input" name="work_place" value="" type="text">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a class="add-block__button button" href="" ng-click="treatmentDynamic.newProcedure()" data-dismiss="modal">
                                <span class="ti-save-alt patient__icon_white"></span>
                                <input class="patient-form__submit" type="submit" value="Сохранить">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>