<div class="clearfix tabs-button">
    <a class=" button button_right" data-toggle="modal" data-target="#addPresscription"><span class="ti-plus add-block__icon"></span>Назначение</a>
</div>
<div class=" plain-table ">
    <div class="plain-table__caption">
        <span class="plain-table__icon ti-marker"></span>Назначения
    </div>
    <table class="plain-table__table">
        <thead class="plain-table__heading">
            <tr class='test-header'>
                <th colspan="2">Назначения</th>
                <th colspan="1">Исполнители</th>
                <th colspan="10">Даты и отметки их выполнения</th>
            </tr>
        </thead>
        <tbody class='plain-table__value'>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>4 авг.</td>
            <td>5 авг.</td>
            <td>6 авг.</td>
            <td>7 авг.</td>
            <td>8 авг.</td>
            <td>9 авг.</td>
            <td>10 авг.</td>
            <td>11 авг.</td>
            <td>12 авг.</td>
            <td>13 авг.</td>
        </tr>
        <tr>
            <td>Режим  </td>
            <td>палатный</td>
            <td><input  class="patient-form__input" name="" value="врач м/c" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
        </tr>
        <tr>
            <td>Диета  </td>
            <td>ОВД</td>
            <td><input  class="patient-form__input" name="" value="врач м/c" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
        </tr>
        <tr>
            <td></td>
            <td>Подготовка к операции</td>
            <td><input  class="patient-form__input" name="" value="врач м/c" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
        </tr>
        <tr>
            <td></td>
            <td>Amoksiclav-1,2гм,в\в х3 раза</td>
            <td><input  class="patient-form__input" name="" value="врач м/c" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
        </tr>
        <tr>
            <td></td>
            <td>Ketorol-100mg,в\м,х3 раза</td>
            <td><input  class="patient-form__input" name="" value="врач м/c" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
        </tr>
        <tr>
            <td></td>
            <td>Drotaverinе-2мл,в\м х2 раза	</td>
            <td><input  class="patient-form__input" name="" value="врач м/c" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
        </tr>
        <tr>
            <td></td>
            <td>Sol.NaCl 0.9%-400ml+Sol Euphilini 2.4%-10ml,в\в кап х 1 раз </td>
            <td><input  class="patient-form__input" name="" value="врач м/c" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
        </tr>
        <tr>
            <td></td>
            <td>Sol.Glucosae 5%-400ml+Insulini-6 Ед, в\в кап х 1 раз </td>
            <td><input  class="patient-form__input" name="" value="врач м/c" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
        </tr>
        <tr>
            <td></td>
            <td>Sol.NaCl 0.9%-400ml,в\в кап х 1 раз</td>
            <td><input  class="patient-form__input" name="" value="врач м/c" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="+" title="Person Name" type="text"></td>
            <td><input  class="patient-form__input" name="" value="" title="Person Name" type="text"></td>
        </tr>
        </tbody>
    </table>
    <div class="content-header__add content-header__add_right add-block">
        <a class="add-block__button button" href="">
            <span class="ti-save-alt patient__icon_white"></span>
            <input class="patient-form__submit" ng-click="doctorEmPersonCtrl.saveProtocol()" type="submit" value="Сохранить">
        </a>
    </div>
</div>


<div class="modal fade" id="addPresscription">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Добавить назначение</h4>
            </div>
            <div class="modal-body">
                <form name="NewPrescr" class="patient-form">
                    <div  class="accordion__content">
                        <div class="plain-table__table-wrapper clearfix">
                            <table class="plain-table__table">
                                <tbody class='plain-table__value plain-table__value_non-bordered'>
                                <tr>
                                    <td class="patient-form__label">Назначение</td>
                                    <td class="patient-form__value">
                                        <input ng-model="treatmentPrescr.prescription.description" class="search-table__input" name="work_place" value="" type="text">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a class="add-block__button button" href="" ng-click="treatmentPrescr.newPrescription()" data-dismiss="modal">
                                <span class="ti-save-alt patient__icon_white"></span>
                                <input class="patient-form__submit" type="submit" value="Сохранить">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>