<div class="clearfix tabs-button">
    <a class=" button button_right" data-toggle="modal" data-target="#addPresscription"><span class="ti-plus add-block__icon"></span>Назначение</a>
</div>
<div class=" plain-table ">
    <div class="plain-table__caption">
        <span class="plain-table__icon ti-marker"></span>Назначения
    </div>
    <table class="plain-table__table">
        <thead class="plain-table__heading">
        <tr>
            <th>Дата назначения</th>
            <th>Описание</th>
            <th>Врач</th>
        </tr>
        </thead>
        <tbody class='plain-table__value'>
        <tr ng-repeat="prescription in treatmentPrescr.prescriptions">
            <td>{{prescription.date}}</td>
            <td>{{prescription.description}}</td>
            <td>{{prescription.doctor_fio}}</td>
        </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="addPresscription">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Добавить назначение</h4>
            </div>
            <div class="modal-body">
                <form name="NewPrescr" class="patient-form">
                    <div  class="accordion__content">
                        <div class="plain-table__table-wrapper clearfix">
                            <table class="plain-table__table">
                                <tbody class='plain-table__value plain-table__value_non-bordered'>
                                <tr>
                                    <td class="patient-form__label">Назначение</td>
                                    <td class="patient-form__value">
                                        <input ng-model="treatmentPrescr.prescription.description" class="search-table__input" name="work_place" value="" type="text">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a class="add-block__button button" href="" ng-click="treatmentPrescr.newPrescription()" data-dismiss="modal">
                                <span class="ti-save-alt patient__icon_white"></span>
                                <input class="patient-form__submit" type="submit" value="Сохранить">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>