<div class="content-header">
    <div class="container">
        <div class="content-header__title-block content-header__title-block_left">
            <h3 class="content-header__title">Поступившие больные</h3>
            <span class="content-header__subtitle">Основные данные</span>
        </div>
        <div class="content-header__add content-header__add_right add-block">
            <a class='add-block__button' href="">Добавить нового пациента</a>
        </div>
    </div>
</div>

<div class="patients-wrapper" ng-controller='MainController'>
    <div class="container">
        <form name="NewPatient" class="patient-form">
            <div class="patient-form__wrapper">
                <div class="patient-form__header">

                </div>
                <div class="patient-form__fieldset">
                    <table>
                        <tr>
                            <td class="patient-form__label">ФИО</td>
                            <td class="patient-form__value">
                                <input ng-model="patient.fio"  class="patient-form__input" name="name" value="" title="Person Name" type="text">
                            </td>
                            <td class="patient-form__value">
                                <input ng-model="patient.sex"  class="patient-form__input" name="name2" value="" title="Person Name" type="text">
                            </td>
                        </tr>
                    </table>
                </div>
                <input ng-click="save(patient, NewPatient)" type="submit" value="Send Text">
            </div>
        </form>

        <div>Ответ:</div>
        <p ng-bind="response.text">{{response}}</p>
    </div>
    </div>
</div>