<div class="login-container__logo" style="background-size: cover;"></div>

<div class="login-container__fields">
    <form name="LoginForm">
        <div class="login-container__field-wrap">
            <div class="input__icon">
                <i class="fa fa-user"></i>
            </div>
            <input ng-model="loginCtrl.login_info.login" class="login-container__input" name="login" value="" title="Person Name" type="text">
        </div>

        <div class="login-container__field-wrap">
            <div class="input__icon">
                <i class="fa fa-lock"></i>
            </div>

            <input ng-model="loginCtrl.login_info.password" class="login-container__input"  name="password" value="" title="Person Name" type="password">
        </div>
        <div class="login-container__field-wrap">
            <input  id='test' ng-click="loginCtrl.login()" class="login-container__submit transition" type="submit" value="Войти">
        </div>

        <a ui-sref="registration" class="login_ref">Зарегистрироваться</a>
    </form>
</div>



