<form name="NewPatient_doctor" class="patient-form">

<div class="content-header">
    <div class="container">
        <div class="content-header__title-block content-header__title-block_left">
            <h3 class="content-header__title block-title">Имя пациента</h3>
            <span class="content-header__subtitle block-subtitle">Возраст, пол</span>
        </div>
    </div>
</div>


<div class="patients-wrapper" ng-controller='EmergencyPersonController'>
    <div class="container">
        <div class="patient-form__wrapper">
            <div class="patient-form__fieldset fieldset plain-table plain-table_full">
                <ul class="accordion">
                    <li>
                        <div class="accordion__title  accordion__title_active">
                            <span class="accordion__icon ti-support"></span>Основные данные
                        </div>
                        <div  class="accordion__content">
                            <div class="plain-table__table-wrapper clearfix">
                                <table class="plain-table__table">
                                    <tbody class='plain-table__value plain-table__value_non-bordered'>
                                    <tr>
                                        <td class="patient-form__label">ФИО</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.fio"  class="patient-form__input" name="name" placeholder="{{patient_info.fio}}" title="Person Name" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Пол</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Женский</option>
                                                <option value="male">Мужской</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Место работы/учебы</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input" name="name2" placeholder="{{patient_info.work_place}}" title="Person Name" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Дата рождения</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input-date" name="name2" placeholder="{{patient_info.birth_date}}" title="Person Name" type="text">
                                            <span class="ti-calendar patient__icon"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Семейное положение</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input" name="name2" placeholder="{{patient_info.marital_status}}" title="Person Name" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Адрес проживания</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input" name="name2" placeholder="{{patient_info.residential_address}}" title="Person Name" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Адрес по паспорту</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input" name="name2" placeholder="{{patient_info.registration_address}}" title="Person Name" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Телефон</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input" name="name2" placeholder="{{patient_info.phone}}" title="Person Name" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Дата обращения</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input-date" name="name2" placeholder="{{patient_info.received_date}}" title="Person Name" type="text">
                                            <span class="ti-calendar patient__icon"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Время обращения</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input-date" name="name2" placeholder="{{patient_info.received_date}}" title="Person Name" type="text">
                                            <span class="ti-time patient__icon"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Тип обращения</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Планово</option>
                                                <option value="male">Экстренно</option>
                                                <option value="male1">По скорой</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">№ Страховки</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input" name="name2" placeholder="{{patient_info.insurance_number}}" title="Person Name" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Жалобы</td>
                                        <td class="patient-form__value">
                                            <textarea ng-model="patient.sex" name="" placeholder="{{patient_info.complaints}}" class="patient-form__textarea" rows="8" > </textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion__title accordion__title_active">
                            <span class="accordion__icon ti-support"></span>Протокол осмотра
                        </div>
                        <div class="accordion__content">
                            <div class="plain-table__table-wrapper clearfix">
                                <table class="plain-table__table">
                                    <tbody class='plain-table__value plain-table__value_non-bordered'>
                                    <tr>
                                        <td class="patient-form__label">Из анамнеза</td>
                                        <td class="patient-form__value">
                                            <textarea ng-model="patient.sex" name="" class="patient-form__textarea" rows="4" > </textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">В анамнезе</td>
                                        <td class="patient-form__value">
                                            <textarea ng-model="patient.sex" name="" class="patient-form__textarea" rows="4" > </textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Страховой анамнез</td>
                                        <td class="patient-form__value">
                                            <textarea ng-model="patient.sex" name="" class="patient-form__textarea" rows="4" > </textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Алерго анамнез</td>
                                        <td class="patient-form__value">
                                            <textarea ng-model="patient.sex" name="" class="patient-form__textarea" rows="4" > </textarea>
                                        </td>
                                    </tr>
                                    <!--<tr>
                                        <td class="patient-form__obj">
                                            Объективно
                                        </td>
                                    </tr>-->
                                    <tr>
                                        <td class="patient-form__label">Состояние больного</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input" name="name2" value="" title="Person Name" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Сознание</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Ясное</option>
                                                <option value="male">Нарушенное (заторможен)</option>
                                                <option value="male">Нарушенное (возбужден)</option>
                                                <option value="male">Ступор</option>
                                                <option value="male">Сопор</option>
                                                <option value="male">Кома</option>
                                                <option value="male">Без сознания</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Состояние</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Удовлетворительное</option>
                                                <option value="male">Средней тяжести</option>
                                                <option value="male">Тяжелое</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Телосложение</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Астеническое</option>
                                                <option value="male">Нормостеническое</option>
                                                <option value="male">Гиперстеническое</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Питание</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Пониженное</option>
                                                <option value="male">Нормальное</option>
                                                <option value="male">Повышенное</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Кожные покровы</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Нормальной окраски</option>
                                                <option value="male">Желтушные</option>
                                                <option value="male1">Синюшные </option>
                                                <option value="male1">Красные  </option>
                                                <option value="male1">Сухие </option>
                                                <option value="male1">Влажные </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Тургор</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Эластичная</option>
                                                <option value="male">Дряблая</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Зрачки</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Не увеличены</option>
                                                <option value="male">Расширены</option>
                                                <option value="male1">Сужены </option>
                                                <option value="male1">Не реагируют на свет  </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Язык</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Сухой</option>
                                                <option value="male">Влажный</option>
                                                <option value="male1">Обложен налётом </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Аускультативно над лёгкими дыхание</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Везикулярное </option>
                                                <option value="male">Выслушиваются сухие хрипы</option>
                                                <option value="male1">Выслушиваются влажные хрипы </option>
                                                <option value="male1">Крепитация</option>
                                                <option value="male1">Шум трения плевры </option>
                                                <option value="male1"> Шум трения перикарда </option>
                                                <option value="male1"> Посторонние шумы</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Перкуторно над лёгкими звук</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Легочный</option>
                                                <option value="male">Тимпанический</option>
                                                <option value="male1">Коробочный </option>
                                                <option value="male1">С коробочным оттенком</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">ЧДД</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input" name="name2" value="" title="Person Name" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Тоны сердца</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Ясные</option>
                                                <option value="male">Приглушены</option>
                                                <option value="male1">Глухие </option>
                                                <option value="male1">Не выслушиваются</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Ритм</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Правильный </option>
                                                <option value="male">Неправильный </option>
                                                <option value="male1">Синусовый </option>
                                                <option value="male1">Несинусовый</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Границы сердца</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected"> Не отклонены</option>
                                                <option value="male">Отклонены на х см</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">ЧСС</td>
                                        <td class="patient-form__value">
                                            <input ng-model="patient.sex"  class="patient-form__input" name="name2" value="" title="Person Name" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Мышечный тонус</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Нормальный</option>
                                                <option value="male">Снижен </option>
                                                <option value="male1">Повышен  </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Движение в суставах</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Сохранено</option>
                                                <option value="male">Ограничено</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Живот</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Мягкий</option>
                                                <option value="male">Твёрдый</option>
                                                <option value="male1">Болезненный </option>
                                                <option value="male1">Безболезненный</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">В позе Ромберга</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Устойчив</option>
                                                <option value="male">Неустойчив</option>
                                                <option value="male1">Устойчив с шатанием</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Походка</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Обычная</option>
                                                <option value="male">Нарушенная </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="patient-form__label">Стул</td>
                                        <td class="patient-form__value">
                                            <select class="patient-form__select" name="sex" ng-model="patient.sex">
                                                <option value="" selected="selected">-- Выберите вариант --</option>
                                                <option value="female" selected="selected">Норма</option>
                                                <option value="male">Учащен </option>
                                                <option value="male1">Задержка  </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <!--<tr>
                                        <td class="patient-form__label">Жалобы</td>
                                        <td class="patient-form__label">
                                            <textarea ng-model="patient.sex" name="" class="patient-form__textarea" rows="8" > </textarea>
                                        </td>
                                    </tr>-->
                                    </tbody>
                                </table>
                                <div class="content-header__add content-header__add_right add-block">
                                    <a class='add-block__button button' href="" >
                                        <span class="ti-save-alt patient__icon_white"></span>
                                        <input class="patient-form__submit" ng-click="save(patient, NewPatient)" type="submit" value="Сохранить">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div>Ответ:</div>
        <p ng-bind="response.text">{{response}}</p>
        <p ng-bind="response.text">{{test}}</p>-->
    </div>
</div>
</div>
</form>