<div class="content-header">
    <div class="container">
        <div class="content-header__title-block content-header__title-block_left">
            <h3 class="content-header__title block-title">Архив</h3>
            <span class="content-header__subtitle block-subtitle">Поиск пациентов</span>
        </div>
    </div>
</div>

<form name="FilterArchive" class="patient-form">
    <div class="search-table mt-30">
        <div class="container">
            <table class="search-table__table">
                <thead class="search-table__heading">
                <tr class="search-table__heading-name">
                    <th>
                        ФИО
                        <span class="search-table_arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        <span class="search-table_arrow"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                    </th>
                    <th>
                        № Страховки
                        <span class="search-table_arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        <span class="search-table_arrow"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                    </th>
                    <th>
                        Пол
                    </th>
                    <th>
                        Номер карточки
                        <span class="search-table_arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        <span class="search-table_arrow"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                    </th>
                    <th>
                        Код болезни
                        <span class="search-table_arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        <span class="search-table_arrow"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
                    </th>
                </tr>
                <tr class="search-table__heading-filter">
                    <th><input ng-blur="archiveCtrl.change()" ng-model="archiveCtrl.filter_info.fio" class="search-table__input" name="work_place" value="" type="text"></th>
                    <th><input ng-blur="archiveCtrl.change()" ng-model="archiveCtrl.filter_info.insurance_number" class="search-table__input" name="work_place" value="" type="text"></th>
                    <th>
                        <select ng-change="archiveCtrl.change()" class="patient-form__select search-table__select" ng-model="archiveCtrl.filter_info.sex">
                            <option value="" selected="selected">-- Выберите вариант --</option>
                            <option value="Женский" selected="selected">Женский</option>
                            <option value="Мужской">Мужской</option>
                        </select>
                    </th>
                    <th><input ng-blur="archiveCtrl.change()" ng-model="archiveCtrl.filter_info.inpatient_number" class="search-table__input" name="work_place" value="" type="text"></th>
                    <th><input  class="search-table__input" name="work_place" value="" type="text"></th>
                </tr>
                </thead>
                <tbody class='search-table__value'>
                    <!--<tr ng-repeat="patient in patients_info| filter:searchText">-->
                    <tr ng-repeat="person in archiveCtrl.archivePeople">
                        <td>
                            <a  href="doctor#/archive/{{person.inpatient_number}}">{{person.fio}}</a>
                        </td>
                        <td>{{person.insurance_number}}</td>
                        <td>{{person.sex}}</td>
                        <td>{{person.inpatient_number}}</td>
                        <td>{{person.phone}}</td>
                    </tr>
                <!--<tr>
                    <td>
                        <input type="submit" ng-click="archiveCtrl.test()">
                    </td>
                </tr>-->
                </tbody>
            </table>
        </div>
    </div>
</form>