<div class="login-container__logo" style="background-size: cover;"></div>

<div class="register-container__fields">
    <form name="RegisterForm" >
        <!--fio-->
        <div class="login-container__field-wrap">
            <div class="input__icon input__label">
                ФИО
            </div>
            <input ng-model="registerCtrl.register_info.fio" class="login-container__input" name="login" value="" title="Person Name" type="text">
        </div>
        <!--sex-->
        <div class="login-container__field-wrap">
            <div class="input__icon input__label">
                Пол
            </div>
            <select class="login-container__input login-container__select" name="sex" ng-model="registerCtrl.register_info.sex">
                <option value="" selected="selected">-- Выберите вариант --</option>
                <option value="Женский">Женский</option>
                <option value="Мужской">Мужской</option>
            </select>
        </div>
<!--birth_date-->
        <div class="login-container__field-wrap">
            <div class="input__icon input__label">
                Дата рождения
            </div>
            <input ng-model="registerCtrl.register_info.birth_date" class="login-container__input"  name="password" value="" title="Person Name" type="text">
        </div>
<!--post-->
        <div class="login-container__field-wrap">
            <div class="input__icon input__label">
                Домлжность
            </div>
            <select class="login-container__input" ng-model="registerCtrl.register_info.post">
                <option value="" selected="selected">-- Выберите вариант --</option>
                <option value="Заведующий отделением">Заведующий отделением</option>
                <option value="Медсестра">Медсестра</option>
                <option value="Врач">Врач</option>
                <option value="Мед персонал">Мед персонал</option>
            </select>
        </div>
<!--login-->
        <div class="login-container__field-wrap">
            <div class="input__icon input__label">
                Логин
            </div>
            <input ng-model="registerCtrl.register_info.login" class="login-container__input"  name="password" value="" title="Person Name" type="text">
        </div>
<!--email-->
        <div class="login-container__field-wrap">
            <div class="input__icon input__label">
                E-mail
            </div>
            <input ng-model="registerCtrl.register_info.email" class="login-container__input"  name="password" value="" title="Person Name" type="text">
        </div>
<!--password_confirmation-->
        <div class="login-container__field-wrap">
            <div class="input__icon input__label">
                Пароль
            </div>
            <input ng-model="registerCtrl.register_info.password" class="login-container__input"  name="password" value="" title="Person Name" type="text">
        </div>
<!--password_confirmation-->
        <div class="login-container__field-wrap">
            <div class="input__icon input__label">
                Подтверждение
            </div>
            <input ng-model="registerCtrl.register_info.password_confirmation" class="login-container__input"  name="password" value="" title="Person Name" type="text">
        </div>

        <div class="login-container__field-wrap">
            <input  id='test' ng-click="registerCtrl.register()" class="login-container__submit transition" type="submit" value="Зарегистрироваться">
        </div>
    </form>
</div>


